# BEGIN WordPress
#this goes in the directory above root on live
#RewriteEngine On
#RewriteBase /
#RewriteCond %{HTTP_HOST} ^aaronandhelen.(com|local)$
#RewriteCond %{REQUEST_URI} !^/aaronandhelen/
#RewriteCond %{REQUEST_FILENAME} !-f 
#RewriteCond %{REQUEST_FILENAME} !-d 
#RewriteRule ^(.*)$ /aaronandhelen/$1
#RewriteRule ^(/)?$ aaronandhelen/index.php [L] 
#</IfModule>

# END WordPress


# BEGIN WordPress
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteBase /aaronandhelen/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /aaronandhelen/index.php [L]
</IfModule>

# END WordPress